<footer class="footer" id="footer">
    <div class="footer_menu">
        <ul>
            <li> <a class="link_list" href="https://www.adalab.es" target="_blank">ARTICLES</a> </li>
            <li> <a class="link_list" href="https://www.eldiario.es/" target="_blank">BOOKS</a> </li>
            <li> <a class="link_list" href="https://www.adalab.es" target="_blank">EVENTS</a> </li>
            <li> <a class="link_list" href="https://www.adalab.es" target="_blank">REASONS</a></li>
            <li> <a class="link_list" href="https://www.adalab.es" target="_blank">TIPS</a></li>
        </ul>
    </div>
    <div class="link_sm">
        <ul>
            <li> <a class="link_list" href="https://www.adalab.es" target="_blank">TWITTER</a> </li>
            <li> <a class="link_list" href="https://www.adalab.es" target="_blank">INSTAGRAM</a> </li>
            <li> <a class="link_list" href="https://www.adalab.es" target="_blank">MASTODON.SOCIAL</a> </li>
        </ul>
    </div>
    <div class="copy">
        <div>©2023</div>
        <div>we <span class="symbol">❤︎</span> components</div>
    </div>
</footer>