<footer class="footer">
    <nav class="footer_menu">
        <ul class="menu_list">
            <li>ARTICLES</li>
            <li>BOOKS</li>
            <li>EVENTS</li>
            <li>REASONS</li>
            <li>TIPS</li>
        </ul>
    </nav>
    <div class="link_sm">
        <ul class="link_list">
            <li>TWITTER</li>
            <li>INSTAGRAM</li>
            <li>MASTODON.SOCIAL</li>
        </ul>
    </div>
    <div class="copy">
        ©2023
        we ❤︎ components
    </div>
</footer>