<main class="main">
    <section class="main_section">
        <h1 class="main_title">ANONYMOUS PROXY</h1>
        <p class="main_text">In hac habitasse platea dictumst.</p>
        <div class="scrolldown"> <a href="#main"><img src="./assets/images/ico-scroll-down/ico-scroll-down.svg"
                    alt="Ir a 3 Reasons to Purchase"></a>
        </div>
    </section>
    <section class="section1">
        <h6 class="s1_subtitle">Insomnia Tips</h6>
        <h2 class="s1_title">Looking Through A Window</h2>
        <p class="s1_text">
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
            semper
            sodales rutrum.
        </p>
        <button class="button1">Go</button>
    </section>
    <section class="section2" id="main">
        <h2 class="s2_title">3 Reasons To Purchase</h2>
        <div class="box_articles">
            <article class="article1">
                <h3 class="art_title">Ut sed metus</h3>
                <p class="art_text">Lorem ipsum dolor sit amet, consecteur.</p>
            </article>
            <article class="article2">
                <h3 class="art_title">Curabitur ac erat</h3>
                <p class="art_text">Mauris mattis urna quis lorem molestie.</p>
            </article>
            <article class="article3">
                <h3 class="art_title">Morbi dictum</h3>
                <p class="art_text">
                    Aliquam in dolor et dolor tincidunt.</p>
            </article>
        </div>
        <div class="box_button"><button class="button2">More reasons</button></div>
    </section>
    <div class="arrowup"><a href="#header"><img src="./assets/images/ico-arrow/ico-arrow.svg" alt="Ir al inicio"></a>
    </div>
</main>