<main class="main">
    <section class="section-1">
        <h6 class="s1-subtitle">Insomnia Tips</h6>
        <h2 class="s1-title">Looking Through A Window</h2>
        <p class="s1-text">
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
            semper
            sodales rutrum.
        </p>
        <button class="button1">Go</button>
    </section>

    <section class="section-2">
        <h2 class="s2-title">3 Reasons To Purchase</h2>
        <article class="article1">
            Ut sed metus
            Lorem ipsum dolor sit amet, consecteur.
        </article>
        <article class="article2">
            Curabitur ac erat
            Mauris mattis urna quis lorem molestie.
        </article>
        <article class="article3">
            Morbi dictum
            Aliquam in dolor et dolor tincidunt.
        </article>

        <button class="button2">More reasons</button>
    </section>
</main>