:root {
    font-size: 62.5%;
    font-family: 'Roboto',
        sans-serif;
}

$font-secondary: 'Roboto Slab',
serif;

$dark-blue: #0271bc; 
$dark-grey-blue: #304268;
$greyish-brown: #4a4a4a;
$k-50: rgba(0, 0, 0, 0.5);
$k-50: rgba(0, 0, 0, 0.5);
$lightblue: #8ccbea;
$k-20: rgba(0, 0, 0, 0.2);
$white: #fff;
$ice-blue: #eff9ff;
$black: #000;
$white-50: rgba(255, 255, 255, 0.5);
$bright-orange: #f26002;
