.footer {
    width: 100%;
    height: 465px;
    background-color: $dark-grey-blue;
    margin-top: -22.5px;
    padding-top: 60px;
    padding-bottom: 45px;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_menu {
    width: 73px;
    height: 150px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.88;
    text-align: center;
}

.menu_list {}

.link_sm {
    width: 147px;
    height: 90px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.88;
    text-align: center;
}

.link_list {}

.copy {
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2.14;
    text-align: center;
}
.symbol {
    color: red;
}


@media screen and (min-width: 768px) {
    .footer {
        height: 240px;
        padding: 45px 39px 45px;
        flex-direction: row;
        gap: 30px;
    }
    .copy {
        order: -1;
        width: 210px;
        text-align: left;
    }
    .footer_menu {
        width: 210px;
        text-align: left;
    }
    .link_sm {
        width: 210px;
        text-align: left;
    }
}
@media screen and (min-width: 1280px) {
    .footer {
        padding: 45px 370px 45px;
    }
}