.header {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
}

.header_menu {

}

.header_title {
    font-family: $font-secondary;
}

.scroll_down {

}



