.main {
    width: 100%;
}

.main_section {
    height: 100vh;
    padding: 0 15px 53px 15px;
    background-image: linear-gradient(to bottom, $white-50 25%, $black), url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    @media screen and (min-width: 768px) {
        padding: 0 39px 45px 39px;
        gap: 20px;
    }

    @media screen and (min-width: 1280px) {
        padding: 0 275px 45px 275px;
        gap: 0px;
    }
}

.main_title {
    
    width: 299px;
    height: 110px;
    font-family: $font-secondary;
    color: $white;
    margin-top: 284px;
    text-shadow: 0 2px 3px $k-20;
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 1.31;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 690px;
        height: 212px;
        font-size: 8rem;
        line-height: 1.33;
    }

    @media screen and (min-width: 1280px) {
        width: 730px;
        height: 264px;
        font-size: 10rem;
        line-height: 1.32;
    }
}

.main_text {
    width: 290px;
    height: 21px;
    color: $white;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 360px;
        height: 32px;
        font-size: 2.4rem;
    }

    @media screen and (min-width: 1280px) {
        width: 730px;
    }
}

.scrolldown {
    width: 45px;
    height: 45px;
    margin-top: 35px;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
        margin-top: 10px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 30px;
    }
}

.section1 {
    padding: 30px 15px 45px;

    @media screen and (min-width: 768px) {
        padding: 30px 39px 60px;
    }

    @media screen and (min-width: 1280px) {
        padding: 60px 275px 60px 275px;
    }
}

.s1_subtitle {
    width: 90px;
    height: 30px;
    color: $lightblue;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: left;

    @media screen and (min-width: 768px) {
        width: 216px;
        height: 30px;
    }

    @media screen and (min-width: 1280px) {
        width: 360px;
        font-size: 1.6rem;
        line-height: 1.88;
    }
}

.s1_title {
    width: 290px;
    height: 60px;
    color: $black;
    font-family: $font-secondary;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.25;
    text-align: left;

    @media screen and (min-width: 768px) {}

    width: 690px;
    height: 45px;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1.73;

    @media screen and (min-width: 1280px) {
        width: 730px;
        font-size: 3.2rem;
        font-weight: bold;
        line-height: 1.41;
    }
}

.s1_text {
    margin: 15px 0 30px;
    color: $greyish-brown;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: left;
    line-height: 1.67;

    @media screen and (min-width: 768px) {
        margin: 30px 0 30px;
        font-size: 2rem;
        line-height: 1.5;
    }

    @media screen and (min-width: 1280px) {
        width: 730px;
    }
}

.button1 {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $bright-orange;
    padding: 0 auto 0;
    background-color: $white;
    color: $bright-orange;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;

    &:hover {
        background-color: $bright-orange;
        color: $white;
    }

    @media screen and (min-width: 768px) {
        width: 91px;
    }

    @media screen and (min-width: 1280px) {
        width: 255px;
    }
}

.section2 {
    background-color: $ice-blue;
    padding: 30px 0 60px;

    @media screen and (min-width: 768px) {
        padding: 30px 39px 60px;
    }

    @media screen and (min-width: 1280px) {
        padding: 60px 85px 60px;
    }
}

.s2_title {
    color: $black;
    font-family: $font-secondary;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;

    &:hover {
        color: $bright-orange;
        font-size: 2.6rem;
    }

    @media screen and (min-width: 768px) {
        font-size: 2.6rem;
        font-weight: bold;
        line-height: 1.73;

        &:hover {
            font-size: 2.8rem;
        }
    }

    @media screen and (min-width: 1280px) {
        font-size: 3.2rem;
        line-height: 1.41;

        &:hover {
            font-size: 3.4rem;
        }
    }
}

.box_articles {
    margin: 45px 70px 45px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 45px;

    @media screen and (min-width: 768px) {
        margin: 45px 0 60px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 30px;
    }

    @media screen and (min-width: 1280px) {
        margin: 45px 0 60px;
        gap: 26.2px;
    }
}

.art_title {
    font-family: $font-secondary;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.67;

    @media screen and (min-width: 768px) {
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 1.25;
    }

}

.art_text {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.67;

    @media screen and (min-width: 768px) {
        font-size: 2rem;
        line-height: 1.5;
        margin-top: 14px;
    }
}

.box_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button2 {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $bright-orange;
    margin: 0 53px 0;
    background-color: $bright-orange;
    color: $white;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;

    &:hover {
        background-color: $white;
        color: $bright-orange ;
    }

    @media screen and (min-width: 768px) {
        width: 210px;
    }

    @media screen and (min-width: 1280px) {
        width: 255px;
    }
}

.arrowup {
    width: 45px;
    height: 45px;
    margin: -22.5px auto 0;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 99;
}